In [1]:
import sys
import os

sys.path.append(os.path.abspath('../420mood'))

import pandas as pd
from futsal_analysis.config_supabase import get_supabase_client
from futsal_analysis.utils_time import *
from futsal_analysis.utils_eventi import *
from futsal_analysis.utils_minutaggi import calcola_minutaggi
from futsal_analysis.pitch_drawer import FutsalPitch
from futsal_analysis.shot_analysis import calcola_statistiche_tiri, disegna_statistiche_tiro

In [2]:
supabase = get_supabase_client()
eventi = supabase.table("eventi").select("*").eq("partita_id", "2025-01-04_Conegliano").execute().data
df = pd.DataFrame(eventi).sort_values(by=['posizione'])
# df

In [3]:
df['Periodo'] = tag_primo_secondo_tempo(df)
df['tempoEffettivo'] = calcola_tempo_effettivo(df)
df['tempoReale'] = calcola_tempo_reale(df)
# df[['posizione', 'evento', 'tempoEffettivo', 'tempoReale', 'Periodo']]

In [4]:
dati_durate = calcola_durate(df)
dati_durate

  Periodo Durata_minuti
0      1T         40:34
1      2T         38:57
2  Totale         79:31

In [5]:
# df['quartetto_tot'] = df.apply(get_giocatori_in_campo, axis=1)
# df[['quartetto_tot', 'quartetto', 'quartetto_1', 'quartetto_2', 'quartetto_3', 'quartetto_4']]

In [6]:
df_1t = filtra_per_tempo(df, 'Primo tempo')
df_2t = filtra_per_tempo(df, 'Secondo tempo')
# df_1t

In [7]:
# df_2t

In [8]:
minutaggi = calcola_minutaggi(df, df_1t, df_2t)

In [9]:
# from IPython.display import display, Markdown

# for periodo, categorie in minutaggi.items():
#     display(Markdown(f"## {periodo.upper()}"))
#     for nome_tabella, df_ in categorie.items():
#         display(Markdown(f"**{nome_tabella.replace('_', ' ').capitalize()}**"))
#         display(df_)

In [10]:
report_eventi = calcola_report_completo(df)

In [13]:
from IPython.display import display, Markdown

display(Markdown("## STATS DI SQUADRA"))
for nome_tabella, dati in report_eventi['squadra'].items():
    display(Markdown(f"**{nome_tabella.replace('_', ' ').capitalize()}**"))
    if isinstance(dati, dict):
        # Dizionario: lo trasformo in DataFrame verticale per visualizzazione tabellare
        import pandas as pd
        display(pd.DataFrame(list(dati.items()), columns=['Stat', 'Valore']).set_index('Stat'))
    else:
        display(dati)

# STATS INDIVIDUALI GIOCATORI
display(Markdown("## STATS INDIVIDUALI GIOCATORI"))
display(report_eventi['individuali'])

# STATS INDIVIDUALI PORTIERI
display(Markdown("## STATS PORTIERI INDIVIDUALI"))
display(report_eventi['portieri_individuali'])

## STATS DI SQUADRA

**Attacco**

                       Valore
Stat
tiri_totali                26
tiri_in_porta_totali       10
tiri_fuori                  9
tiri_ribattuti              7
palo_traversa               0
angoli                      7
laterale                   26
laterale_zona_attacco       8
laterale_zona_difesa       18

**Difesa**

                             Valore
Stat
tiri_totali_subiti               43
tiri_in_porta_totali_subiti      21
tiri_fuori_loro                  11
tiri_ribattuti_noi               11
palo_traversa_loro                0
angoli_loro                       8
laterale_loro                    42
laterale_zona_attacco_loro       21
laterale_zona_difesa_loro        21

**Palle recuperate perse**

                              Valore
Stat
palla_recuperata_totali            0
palla_recuperata_ripartenza        0
palla_recuperata_costruzione       0
palla_recuperata_fuori             0
palla_persa_totali                 0
palla_persa_ripartenza             0
palla_persa_costruzione            0
palla_persa_fuori                  0

**Ripartenze**

            Valore
Stat
3v2              1
2v2              0
2v1              0
1v1              0
3v2_subiti       0
2v2_subiti       1
2v1_subiti       0
1v1_subiti       0

**Falli**

                           Valore
Stat
falli_fatti_totali              7
falli_subiti_totali             7
falli_fatti_zona_attacco        2
falli_fatti_zona_difesa         5
falli_subiti_zona_attacco       2
falli_subiti_zona_difesa        5
ammonizioni_noi                 0
espulsioni_noi                  2
ammonizioni_loro                3
espulsioni_loro                 2

**Portieri noi**

                          Valore
Stat
parate                        21
lanci                         20
lanci_corretti                 7
lanci_sbagliati               13
integrazione_portiere          0
integrazione_portiere_ok       0
integrazione_portiere_ko       0

**Portieri loro**

                          Valore
Stat
parate                         7
lanci                          3
lanci_corretti                 1
lanci_sbagliati                2
integrazione_portiere          0
integrazione_portiere_ok       0
integrazione_portiere_ko       0

## STATS INDIVIDUALI GIOCATORI

,tiri_totali,tiri_in_porta_totali,tiri_fuori,tiri_ribattuti,palo_traversa,palla_persa_totali,palla_persa_ripartenza,palla_persa_costruzione,palla_persa_fuori,tiri_ribattuti_noi,...,palla_recuperata_costruzione,palla_recuperata_fuori,falli_fatti_totali,falli_subiti_totali,falli_fatti_zona_attacco,falli_fatti_zona_difesa,falli_subiti_zona_attacco,falli_subiti_zona_difesa,ammonizioni,espulsioni
chi,,,,,,,,,,,,,,,,,,,,,
bara,2,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
deba,1,0,0,1,0,0,0,0,0,2,...,0,0,0,2,0,0,0,2,0,0
digao,1,0,1,0,0,0,0,0,0,0,...,0,0,2,1,1,1,0,1,0,0
erick,4,2,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
fabri,5,1,3,1,0,0,0,0,0,6,...,0,0,1,1,0,1,1,0,0,0
mattia,1,1,0,0,0,0,0,0,0,0,...,0,0,1,1,0,1,1,0,0,0
nic,2,0,2,0,0,0,0,0,0,1,...,0,0,1,2,1,0,0,2,0,0
ricky,5,2,1,2,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
scanta,5,2,1,2,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1

## STATS PORTIERI INDIVIDUALI

,parate,lanci,lanci_corretti,lanci_sbagliati,integrazione_portiere,integrazione_portiere_ok,integrazione_portiere_ko
portiere,,,,,,,
giovi,21,20,7,13,0,0,0
TOTALE,21,20,7,13,0,0,0

In [ ]:
zone_stats = calcola_statistiche_tiri(df)
campo = FutsalPitch()
fig, ax = disegna_statistiche_tiro(zone_stats, campo)